<nav class="navbar fixed-top navbar-expand-lg --bs-navbar-nav-link-padding-x: 4.5rem; bg-body-tertiary bg-dark
    border-bottom border-body">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo"
                width="60px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == '/' else '' }}" aria-current="page" href="/">{{
                        _("Home") }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == url_for('main.about') else '' }}"
                        aria-current="page" href="{{ url_for('main.about') }}">{{ _("About")
                        }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == url_for('main.contact') else '' }}"
                        aria-current="page" href="{{ url_for('main.contact') }}">{{ _("Contact")
                        }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == url_for('main.support') else '' }}"
                        aria-current="page" href="{{ url_for('main.support') }}">{{ _("Support")
                        }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == url_for('main.weather_page') else '' }}"
                        aria-current="page" href="{{ url_for('main.weather_page') }}">{{
                        _("Weather") }}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == url_for('main.schemes') else '' }}"
                        aria-current="page" href="{{ url_for('main.schemes') }}">{{ _("Government
                        Schemes") }}</a>
                </li>
                {% if 'user_id' in session %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == url_for('main.settings') else '' }}"
                        aria-current="page" href="{{ url_for('main.settings') }}">{{
                        _("Settings") }}</a>
                </li>
                {% endif %}

            </ul>

            <form class="d-flex" role="search">
                {% if 'user_id' in session %}
                <a href="{{ url_for('auth.logout') }}" class="btn btn-danger btn-sm">{{ _("Logout") }}</a>
                {% else %}
                <a href="{{ url_for('auth.login') }}" class="btn btn-success btn-sm">{{ _("Login") }}</a>
                {% endif %}
            </form>
        </div>
    </div>
    </div>

</nav>